@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Leaflet map styles */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.custom-tooltip {
  background: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.custom-icon i {
  color: blue !important;
}
